.about-page {
  color: $dark-background-color;
  font-size: 1.5rem;
  text-align: justify;
  .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }
}
