.admin-place-page {
  padding-top: 6rem !important;
  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  .place-input-wrapper {
    width: 60%;
    height: 3rem;
    margin-bottom: 1rem;
  }
  .place-map-container {
    width: 50%;
    height: 18rem;
    margin-bottom: 1rem;
    .leaflet-container {
      position: relative;
      height: 100%;
      border: 1px solid $primary-color;
      border-radius: 5px;
      outline: none;
    }
  }
  .address-block {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  .save-block {
    display: flex;
    justify-content: center;
    button {
      width: 7rem;
      height: 3rem;
      font-size: 1.125rem;
    }
  }
}
