.admin-band-page {
  padding-top: 6rem !important;
  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  .band-input-wrapper {
    width: 60%;
    height: 3rem;
    margin-bottom: 1rem;
  }
  .logo-block {
    display: flex;
    flex-direction: column;
    .image-wireframe {
      .dropzone-wrapper {
        display: inline-flex;
        justify-self: center;
        &:focus {
          outline: none;
        }
        .drop-zone {
          position: relative;
          width: 15rem;
          height: 15rem;
          border: 1px solid $primary-color;
          background: white;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 3px;
          cursor: pointer;
          &.error {
            border: 1px solid red;
          }
          .logo-title {
            position: absolute;
            top: -0.6875rem;
            left: 0.5rem;
            padding: 0.25rem;
            background: white;
            font-size: 0.875rem;
            line-height: 1;
            text-transform: lowercase;
          }
        }
      }
    }
    .delete-icon {
      margin-left: 5px;
      color: $primary-color;
      cursor: pointer;
      &:active {
        color: $dark-background-color;
      }
    }
  }
  .save-block {
    display: flex;
    justify-content: center;
    button {
      width: 7rem;
      height: 3rem;
      font-size: 1.125rem;
    }
  }
}
