.admin-tab {
  position: fixed;
  left: 50%;
  display: flex;
  margin-top: -1px;
  transform: translateX(-50%);
  .tab-item {
    display: flex;
    width: 12rem;
    justify-content: center;
    border: 1px solid $dark-background-color;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: $primary-color;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    &.active {
      background-color: $dark-background-color;
      color: #fff;
    }
  }
}
