.admin-event-page {
  padding-top: 6rem !important;
  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  .block {
    margin-bottom: 1rem;
    &.date-block {
      position: relative;
      .date-input-title {
        position: absolute;
        z-index: 2;
        top: -0.6875rem;
        left: 0.5rem;
        padding: 0.25rem;
        background: white;
        font-size: 0.875rem;
        line-height: 1;
        text-transform: lowercase;
      }
      .react-datepicker-wrapper {
        input {
          width: 17rem;
          height: 44px;
          padding-left: 0.5rem;
          border: 1px solid $primary-color;
          border-radius: 3px;
          &.error {
            border: 1px solid red;
          }
        }
      }
    }
    &.place-block {
      position: relative;
      select {
        width: 17.75rem;
        height: 48px;
        padding-left: 5px;
        border: 1px solid $primary-color;
        border-radius: 3px;
      }
    }
    &.thumbnail-block {
      display: flex;
      flex-direction: column;
      .image-wireframe {
        .dropzone-wrapper {
          display: inline-flex;
          justify-self: center;
          &:focus {
            outline: none;
          }
          .drop-zone {
            position: relative;
            width: 15rem;
            height: 15rem;
            border: 1px solid $primary-color;
            background: white;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 3px;
            cursor: pointer;
            &.error {
              border: 1px solid red;
            }
            .thumbnail-title {
              position: absolute;
              top: -0.6875rem;
              left: 0.5rem;
              padding: 0.25rem;
              background: white;
              font-size: 0.875rem;
              line-height: 1;
              text-transform: lowercase;
            }
          }
        }
        .delete-icon {
          margin-left: 5px;
          color: $primary-color;
          cursor: pointer;
          &:active {
            color: $dark-background-color;
          }
        }
      }
    }
    &.band-block {
      position: relative;
      select {
        width: 17.75rem;
        height: 48px;
        padding-left: 5px;
        border: 1px solid #329f95;
        margin-bottom: 0.5rem;
        border-radius: 3px;
        &.error {
          border: 1px solid red;
        }
      }
      .band-container {
        display: flex;
        .band-item {
          display: flex;
          align-items: center;
          padding: 0.5rem;
          margin-left: 0.5rem;
          background-color: $primary-color;
          border-radius: 3px;
          color: #fff;
          font-size: 1.5rem;
          &:first-of-type {
            margin-left: 0;
          }
          .band-remove-icon {
            width: 1.25rem;
            margin-left: 0.5rem;
            color: #fff;
            cursor: pointer;
            &:active {
              color: $dark-background-color;
            }
          }
        }
      }
    }
    &.ticket-list-block {
      .ticket-title {
        margin-bottom: 1rem;
        color: $dark-background-color;
        font-size: 1.25rem;
      }
      .ticket-block {
        display: flex;
        margin-bottom: 1.25rem;
        .info-block {
          flex: 6;
          .description-wrapper {
            width: 100%;
            margin-bottom: 0.75rem;
          }
          .ticket-technical-block {
            display: flex;
            .price-wrapper {
              margin-right: 0.5rem;
            }
          }
        }
        .delete-container {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .event-input-wrapper {
      width: 60%;
      height: 3rem;
    }
    .select-input-title {
      position: absolute;
      z-index: 2;
      top: -0.75rem;
      left: 0.5rem;
      padding: 0.25rem;
      background: white;
      font-size: 0.875rem;
      line-height: 1;
      text-transform: lowercase;
    }
  }
  .save-block {
    display: flex;
    justify-content: center;
    button {
      width: 7rem;
      height: 3rem;
      font-size: 1.125rem;
    }
  }
}
