html {
  font-family: $primary-font-family;
  div {
    box-sizing: border-box;
  }
  input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 30px white inset !important;
    }
  }
  div,
  img,
  span,
  input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:focus {
      outline: 0;
    }
  }
  body {
    margin: 0;
    #app {
      position: relative;
      min-height: 100vh;
      .main {
        padding-top: $header-height;
        padding-bottom: $footer-height + 1rem;
        font-size: 2rem;
        .main-column {
          margin: 0 auto;
          @media only screen and (min-width: $mobile-view-max-width) {
            width: $mobile-view-max-width;
          }
        }
      }
    }
  }
}
