.band-page {
  .band-logo-container {
    height: 6rem;
    margin-top: 1rem;
    text-align: center;
    .band-logo {
      height: 100%;
    }
  }
  .band-name-container {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
  }
  .band-description-container {
    font-size: 1.25rem;
  }
  .band-events-container {
    margin-top: 1rem;
    font-size: 1.5rem;
    .band-events-title {
      text-transform: uppercase;
    }
    .card {
      margin: 1rem 0;
      &:first-of-type {
        margin-top: 0.5rem;
      }
    }
  }
}
