.band-card {
  display: flex;
  height: 4rem;
  align-items: center;
  padding: 5px 5rem !important;
  cursor: pointer;
  .band-name {
    flex: 1;
  }
  .band-logo-container {
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    .band-logo {
      height: 65%;
    }
  }
}
