button {
  &.cor-button {
    border: 1px solid $primary-color;
    color: $primary-color;
    font-family: $primary-font-family;
    font-weight: 600;
    &.contained {
      background-color: $primary-color;
      color: #fff;
    }
    &.disabled {
      background-color: gray;
    }
  }
}
