.cart-page {
  .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  .ticket-list {
    .card {
      margin: 1rem 0;
      font-size: 1.5rem;
      .ticket {
        display: flex;
        justify-content: space-between;
        .ticket-title-container {
          .event-name {
            text-transform: uppercase;
          }
          .ticket-description {
            font-size: 1.25rem;
          }
        }
        .ticket-price {
          display: flex;
          align-items: center;
          .price {
            margin-right: 1rem;
            color: #444444;
            font-style: italic;
          }
          input {
            width: 2rem;
          }
          .ticket-delete-container {
            display: flex;
            align-items: center;
            margin-left: 1rem;
            svg {
              color: $primary-color;
              cursor: pointer;
              &:active {
                color: $dark-background-color;
              }
            }
          }
        }
      }
    }
  }
  .ticket-sum-price {
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }
  .cart-action-container {
    button {
      &:last-of-type {
        margin-left: 1rem;
      }
    }
  }
}
