.event-page {
  font-size: 1.5rem !important;
  .event-container {
    margin-bottom: 2rem;
    .event-thumbnail-container {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 16rem;
      text-align: center;
      .event-thumbnail-blur {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: blur(0.25rem);
        filter: blur(0.25rem);
      }
      .event-thumbnail {
        position: relative;
        top: 50%;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        margin: 0 auto;
        transform: translateY(-50%);
      }
    }
    .event-title {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
    .date-place-block {
      margin-bottom: 1.25rem;
      text-align: center;
      text-transform: uppercase;
    }
    .event-band-block {
      display: flex;
      .band-item {
        margin-left: 1rem;
        color: $primary-color;
        cursor: pointer;
        &:first-of-type {
          margin-left: 0;
        }
        &:hover {
          color: $dark-background-color;
        }
      }
    }
    .event-description {
      margin: 1rem 0;
      font-size: 1.25rem;
      text-align: justify;
    }
    .exact-time-container {
      margin-bottom: 1rem;
      font-size: 1.125rem;
      text-transform: uppercase;
    }
    .event-map-container {
      display: flex;
      height: 18rem;
      justify-content: center;
      margin-bottom: 0.5rem;
      .leaflet-container {
        width: 100%;
        height: 100%;
        border: 1px solid $primary-color;
        border-radius: 3px;
      }
    }
    .event-address-container {
      font-size: 1.25rem;
    }
  }
  .ticket-container {
    .ticket-container-title {
      display: flex;
      align-items: center;
      .ticket-title {
        text-transform: uppercase;
      }
      svg {
        cursor: pointer;
      }
    }
    .ticket-list {
      .card {
        margin: 1rem 0;
        .ticket {
          display: flex;
          justify-content: space-between;
          // .ticket-description {
          // }
          .ticket-price {
            display: flex;
            align-items: center;
            .price {
              margin-right: 1rem;
              color: #444444;
              font-style: italic;
            }
            input {
              width: 2rem;
            }
          }
        }
      }
    }
    .ticket-sum-price {
      margin-bottom: 0.5rem;
    }
    .login-text {
      margin-left: 1rem;
      color: $dark-background-color;
      cursor: pointer;
      font-size: 1rem;
    }
  }
}
