.event-card {
  display: flex;
  height: 6rem;
  cursor: pointer;
  .event-thumbnail {
    height: 100%;
    flex: 1;
    background-position: top;
    background-size: cover;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  .event-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0.5rem;
    svg {
      width: 1.25rem;
      margin-right: 3px;
      color: $dark-background-color;
    }
    .event-name {
      font-size: 1.5rem;
    }
    .event-place-container {
      display: flex;
      align-items: center;
      .event-place {
        font-size: 0.75rem;
      }
    }
    .event-date-container {
      display: flex;
      align-items: center;
      .event-date {
        font-size: 0.975rem;
      }
    }
  }
  .event-description {
    flex: 3;
    font-size: 1rem;
    text-align: justify;
  }
}
