.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: $footer-height;
  align-items: center;
  justify-content: center;
  background-color: $dark-background-color;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
