.form-container {
  min-width: 18rem;
  margin-bottom: 1.5rem;
  .input-wrapper {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .form-error {
    margin-bottom: 1rem;
  }
  .form-action-block {
    text-align: center;
  }
}
