.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: $header-height;
  background-color: $dark-background-color;
  color: $primary-color;
  .header-content {
    position: relative;
    display: flex;
    height: 100%;
    @media only screen and (min-width: $mobile-view-max-width) {
      width: $mobile-view-max-width;
      margin: auto;
    }
    .header-logo-area {
      display: flex;
      flex: 0.5;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .header-logo {
        width: 4.5rem;
        cursor: pointer;
      }
    }
    .header-tab-area {
      display: flex;
      height: 100%;
      flex: 3;
      .header-tab-element {
        display: flex;
        width: 100%;
        height: 100%;
        .header-tab-element-container {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-transform: uppercase;
          &:hover {
            color: #fff;
          }
          // &:active {
          //   background-color: #1b3c2e;
          // }
          svg {
            margin-right: 0.25rem;
          }
        }
        .header-menu {
          position: absolute;
          top: 5rem;
          width: 12rem;
          background-color: $dark-background-color-transparent;
          .header-menu-element {
            display: flex;
            height: 2.5rem;
            align-items: center;
            padding: 0.5rem;
            cursor: pointer;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
    .header-search-area {
      display: flex;
      flex: 1.5;
      align-items: center;
      .header-search {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        .header-search-input {
          width: calc(100% - 3rem);
          height: 2rem;
          box-sizing: border-box;
          padding: 0.5rem;
          font-family: $primary-font-family;
        }
        ::placeholder {
          font-style: italic;
        }
        .header-search-button {
          display: flex;
          width: 2rem;
          height: 2rem;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          svg {
            color: $dark-background-color;
          }
        }
      }
    }
    .header-cart-area {
      position: absolute;
      top: 50%;
      right: 0;
      right: -3rem;
      cursor: pointer;
      transform: translateY(-50%);
      &:hover {
        color: #fff;
      }
      .cart-number {
        position: absolute;
        top: 1.25rem;
        left: 50%;
        color: #fff;
        transform: translateX(-50%);
      }
    }
  }
}
