.home-page {
  .home-event-box {
    height: 21rem;
    text-align: center;
    .slick-slider {
      height: calc(20rem + #{$header-height});
      cursor: pointer;
      .slick-list {
        height: 100%;
        .slick-track {
          height: 100%;
          .slick-slide {
            > div {
              height: 100%;
              .home-event-thumbnail-container {
                position: relative;
                height: 100%;
                &:focus {
                  outline: none;
                }
                .home-event-thumbnail-background {
                  position: absolute;
                  top: 0;
                  right: 0;
                  left: 0;
                  height: 100%;
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  -webkit-filter: blur(0.25rem);
                  filter: blur(0.25rem);
                }
                .home-event-thumbnail {
                  position: relative;
                  top: 50%;
                  width: auto;
                  max-width: 100%;
                  height: auto;
                  max-height: 100%;
                  margin: 0 auto;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
      .slick-dots {
        bottom: 1rem;
        li {
          width: 1rem;
          margin: 0;
          &.slick-active {
            button:before {
              color: $primary-color;
            }
          }
          button:before {
            color: #c4c4c4;
            font-size: 2.5rem;
            opacity: 1;
          }
        }
      }
    }
  }
  .home-description-box {
    margin-top: 5rem;
    font-size: 1.5rem;
  }
}
