.info-popup-container {
  position: fixed;
  z-index: 20;
  top: 2rem;
  right: 2rem;
  display: flex;
  height: 5rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 0.5rem;
  opacity: 0.8;
  .info-popup-icon {
    margin-right: 0.25rem;
    &.success {
      color: #4a934a;
    }
    &.warning {
      color: #eed202;
    }
    &.error {
      color: #ff0033;
    }
  }
}
