.input-wrapper {
  position: relative;
  height: 100%;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  border: 1px solid $primary-color;
  border-radius: 3px;
  &.error {
    border: 1px solid red;
  }
  .input-title {
    position: absolute;
    top: -0.6875rem;
    padding: 0.25rem;
    background: white;
    font-size: 0.875rem;
    line-height: 1;
    text-transform: lowercase;
  }
  .input-field {
    position: absolute;
    top: 50%;
    width: calc(100% - 1rem);
    box-sizing: border-box;
    border: 0;
    transform: translateY(-50%);
  }
}
