.loading-indicator-container {
  position: fixed;
  z-index: 1400;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(184, 184, 184, 0.5);
  .MuiCircularProgress-root {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.25rem);
    width: 3rem;
    height: 3rem;
    color: $primary-color;
  }
}
