.custom-modal-window {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-paper {
    padding: 1rem;
    border: 1px solid $primary-color;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    &:focus {
      outline: 0;
    }
    .modal-header {
      margin-bottom: 3rem;
      font-size: 1.25rem;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }
    .modal-footer {
      margin-top: 0.75rem;
      font-size: 0.875rem;
      .modal-footer-link {
        color: #329f95;
        cursor: pointer;
        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}
