.bought-tickets-modal {
  .modal-content {
    .success-text {
      color: #4a934a;
      font-size: 1.25rem;
      text-align: center;
    }
    .card {
      min-width: 16rem;
      .ticket {
        display: flex;
        justify-content: space-between;
        .quantity-container {
          display: flex;
          align-items: center;
          margin-left: 1rem;
          font-size: 1.125rem;
        }
      }
    }
  }
  .modal-footer {
    text-align: center;
  }
}
