.search-result-page {
  .result-title {
    margin-top: 1rem;
  }
  .result-block-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  .card {
    margin: 0;
    margin-bottom: 1rem;
  }
  .no-result {
    margin-top: 5rem;
    color: $dark-background-color;
    text-align: center;
  }
}
