.ticket-status-page {
  .ticket-status-container {
    text-align: center;
    .ticket-label {
      margin-top: 2rem;
      font-weight: 700;
      &.error {
        color: red;
      }
      .active {
        color: $primary-color;
      }
    }
    button {
      width: 12rem;
      height: 4rem;
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
}
