.user-details-page {
  .main-column {
    padding: 1rem 0;
    .user-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      .user-thumbnai-default {
        display: flex;
        width: 5rem;
        height: 5rem;
        align-items: center;
        justify-content: center;
        border: 4px solid $primary-color;
        margin-bottom: 1rem;
        border-radius: 12px;
        svg {
          width: 4rem;
          height: 5rem;
          color: $dark-background-color;
        }
      }
      .input-wrapper {
        width: 31rem;
        height: 3rem;
        margin-bottom: 1.5rem;
      }
      .password-title {
        font-size: 1rem;
      }
    }

    .bought-ticket-list {
      margin-top: 1rem;
      .bought-tickets-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $dark-background-color;
        margin-bottom: 0.5rem;
        .bought-tickets-title {
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        .bought-tickets-filter-container {
          display: flex;
          align-items: center;
          font-size: 1rem;
          text-transform: lowercase;
        }
      }

      .ticket-bought-date {
        color: #3f3f4e;
        font-size: 0.975rem;
      }
      .bought-ticket-card {
        margin: 0 0 1rem 0;
        cursor: pointer;
        .ticket {
          display: flex;
          justify-content: space-between;
          .ticket-details-container {
            .event-name {
              font-size: 1.5rem;
              font-weight: 600;
              text-transform: uppercase;
            }
            .event-date-place-block {
              font-size: 1.25rem;
            }
            .ticket-description {
              font-size: 1.5rem;
            }
          }
          .ticket-price {
            display: flex;
            align-items: center;
            color: #444444;
            font-size: 1.325rem;
            font-style: italic;
          }
        }
      }
      .bought-ticket-qr-code {
        position: fixed;
        left: -500px;
      }
    }
  }
}
