@font-face {
  font-family: 'EncodeSansSemiCondensed-Medium';
  src: url('/assets/fonts/EncodeSansSemiCondensed-Medium.ttf');
}

@font-face {
  font-family: 'slick';
  src: url('/assets/fonts/EncodeSansSemiCondensed-Medium.ttf');
}

@font-face {
  font-family: 'proxima';
  src: url('/assets/fonts/ProximaNova-Regular.otf');
}

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~leaflet/dist/leaflet.css';
@import '~react-datepicker/dist/react-datepicker.css';

@import './variables.scss';
@import './components/index';
