$primary-color: #329f95;
$dark-background-color: #1b272e;
$dark-background-color-transparent: rgba(27, 39, 46, 0.8);
$header-height: 5rem;
$footer-height: 4rem;
$mobile-view-max-width: 992px;
$primary-font-family: proxima;
